#chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background: #1e837c;
  transition: all 0.2s ease;
}

#chatbot-toggler.show {
  transform: rotate(90deg);
}

#chatbot-toggler span {
  color: #fff;
  position: absolute;
}

#chatbot-toggler.show span:first-child,
#chatbot-toggler span:last-child {
  opacity: 0;
}

#chatbot-toggler.show span:last-child {
  opacity: 1;
}

.chatbot-popup {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  overflow: hidden;
  border-radius: 15px;
  opacity: 0;
  transform: scale(0.2);
  transform-origin: bottom right;
  pointer-events: none;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}

.chatbot-popup.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.chat-header {
  display: flex;
  align-items: center;
  background: #359690;
  padding: 15px 22px;
  justify-content: space-between;
}

.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info .chatbot-logo {
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: #1e837c;
  flex-shrink: 0;
  background: #fff;
  border-radius: 50%;
}

.header-info .logo-text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-header #close-chatbot {
  border: none;
  color: #fff;
  height: 40px;
  width: 40px;
  font-size: 1.9rem;
  margin-right: -10px;
  padding-top: 2px;
  cursor: pointer;
  border-radius: 50%;
  background: #1e837c;
  transition: 0.2s ease;
}

.chat-header #close-chatbot:hover {
  background: #1e837c;
}

.chat-body {
  padding: 25px 22px;
  display: flex;
  gap: 20px;
  overflow-y: auto;
  height: 460px;
  margin-bottom: 82px;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: #ccccf5 transparent;
}

.chat-body .message {
  display: flex;
  align-items: center;
  gap: 11px;
}

.chat-body .bot-message .bot-avatar {
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: #fff;
  flex-shrink: 0;
  background: #1e837c;
  border-radius: 50%;
  align-self: flex-end;
  margin-bottom: 2px;
}

.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  border-radius: 10px;
  font-size: 0.95rem;
  white-space: pre-wrap;
}

.chat-body .bot-message .message-text {
  background: #f2f2f2;
  color: #000;
}

.chat-body .user-message .message-text {
  background: #1e837c;
  color: #fff;
}

.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 0;
  background: #fff;
  border-top: 1px solid #ddd;
}

.chat-footer .chat-form {
  display: flex;
  width: 100%;
  gap: 5px;
  padding: 10px;
}

.chat-footer .chat-form:focus-within {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.chat-form .message-input {
  height: 45px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 0 15px;
  outline: none;
  border-radius: 5px;
  font-size: 0.95rem;
  resize: none;
  padding-top: 10px;
}

.chat-form .message-input:hover {
  border-color: #1e837c;
}

.chat-form .chat-controls {
  display: flex;
  gap: 5px;
}

.chat-form .chat-controls button {
  border: none;
  outline: none;
  cursor: pointer;
  visibility: hidden;
  color: #1e837c;
  font-size: 1.35rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #f2f2f2;
  transition: 0.2s ease;
}

.chat-form .message-input:valid ~ .chat-controls #send-message {
  visibility: visible;
}

.chat-form .chat-controls #send-message:hover {
  background: #1e837c;
  color: #fff;
}

.chat-form .chat-controls button:hover {
  background: #1e837c;
  color: #fff;
}

.chat-form .file-upload-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chat-form .file-upload-wrapper :where(img, button) {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.chat-form .file-upload-wrapper img {
  object-fit: cover;
}

.chat-form .file-upload-wrapper #file-cancel {
  color: #fff;
  background: #ff0000;
  font-size: 1.2rem;
}

.chat-form .file-upload-wrapper :where(img, #file-cancel),
.chat-form .file-upload-wrapper.file-uploaded #file-upload {
  display: none;
}

.chat-form .file-upload-wrapper.file-uploaded img,
.chat-form .file-upload-wrapper.file-uploaded #file-cancel {
  display: flex;
}

em-emoji-picker {
  position: absolute;
  bottom: 100px;
  right: 0;
  z-index: 1000;
}

body.show-emoji-picker em-emoji-picker {
  display: block;
}

@media (max-width: 520px) {
  #chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }

  .chatbot-popup {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .chatbot-popup .chat-header {
    border-radius: 0;
  }

  .chat-body {
    height: calc(100% - 120px);
    margin-bottom: 0;
  }

  .chat-footer {
    position: relative;
  }

  .chat-form .file-upload-wrapper.file-uploaded #file-cancel {
    display: flex;
  }
} 